

.mobile-container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

}

.mobile-row-title{
    text-align: center;
    font-weight: 700;
    padding: 3px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vs-title{
    text-align: center;
    font-weight: 700;
    padding: 3px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flex-direction-row{
    display: flex;
    flex-direction: row;

}

.justify-between{
    justify-content: space-between;
}

.expanded-day{
    width: 90%;
}

.winner-box{
    text-align: center;
    font-weight: 700;
    height: 130px;
    margin-top:20px;
    background-color: #B8B2FF;
    width: 90%;
    font-size: 18px;
}